<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN"> <!-- 这个status是控制系统信息的输出级别 -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">  <!-- 将日志信息从控制台输出 -->
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <File name="File" filename="./mylog.log" append="true"> <!-- 将日志信息写入日志文件 -->
        <PatternLayout pattern="%d %p %C{1.} [%t] %m%n"/>
    </File>
  </Appenders>
  <Loggers>
    <!-- Root level 是设置全局的信息显示级别，这里设置为error表示：error及以上的信息将被输出
    信息的级别大小为：debug < info < warn < error < fatal  -->
    <!-- 优先级从高到低依次为：OFF、FATAL、ERROR、WARN、INFO、DEBUG、TRACE、 ALL -->
    <Root level="error">
      <AppenderRef ref="Console"/>   <!-- 仅有上述的Appenders配置还不够，这里还不能少，少了就不会在控制台输出 -->
      <AppenderRef ref="File"/>  <!-- 仅有上述的Appenders配置还不够，这里还不能少，少了就不会写入文件，但会创建文件 -->
    </Root>
    <!--  可以专门为某个类指定信息级别，例如为main包下的Main类指定信息级别为trace -->
    <!-- <Logger name="main.Main" level="trace" />  -->
    
     <Root level="trace">
      <AppenderRef ref="Console"/>   <!-- 仅有上述的Appenders配置还不够，这里还不能少，少了就不会在控制台输出 -->
      <AppenderRef ref="File"/>  <!-- 仅有上述的Appenders配置还不够，这里还不能少，少了就不会写入文件，但会创建文件 -->
    </Root>
  </Loggers>
</Configuration>